In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,ELAProf_Score,ELAProf_Weight,MathProf_Score,MathProf_Weight,...,MathGrowth_Score,MathGrowth_Weight,ELP_Score,ELP_Weight,CA_Score,CA_Weight,SummativeScore,SummativeRating,CompSupport_Bottom5%,CompSupport_Grad67
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,44.08,17.5%,22.27,17.5%,...,38.16,25.0%,**,**,59.59,15.0%,43.95,38.98,No,No
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,32.64,15.0%,63.03,15.0%,...,92.58,20.0%,44.26,20.0%,42.21,10.0%,55.49,57.88,No,No

### Check number of columns and rows

In [2]:
df.shape

(2238, 26)

### Adding columns from 2016-17 table

In [3]:
df['AccountabilityIndicator'] = 'NA'
df['IndicatorScore'] = 'NA'
df['IndicatorWeight'] = 'NA'
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,ELAProf_Score,ELAProf_Weight,MathProf_Score,MathProf_Weight,...,CA_Score,CA_Weight,SummativeScore,SummativeRating,CompSupport_Bottom5%,CompSupport_Grad67,AccountabilityIndicator,IndicatorScore,IndicatorWeight,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,44.08,17.5%,22.27,17.5%,...,59.59,15.0%,43.95,38.98,No,No,NA,NA,NA,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,32.64,15.0%,63.03,15.0%,...,42.21,10.0%,55.49,57.88,No,No,NA,NA,NA,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode                 0
CountyName                 0
DistrictCode               0
DistrictName               0
SchoolCode                 0
SchoolName                 0
ELAProf_Score              0
ELAProf_Weight             0
MathProf_Score             0
MathProf_Weight            0
Grad4YR_Score              0
Grad4YR_Weight             0
Grad5YR_Score              0
Grad5YR_Weight             0
ELAGrowth_Score            0
ELAGrowth_Weight           0
MathGrowth_Score           0
MathGrowth_Weight          0
ELP_Score                  0
ELP_Weight                 0
CA_Score                   0
CA_Weight                  0
SummativeScore             0
SummativeRating            0
CompSupport_Bottom5%       0
CompSupport_Grad67         0
AccountabilityIndicator    0
IndicatorScore             0
IndicatorWeight            0
Year                       0
dtype: int64

### Fill missing values

In [ ]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [ ]:
df.isnull().sum()

### Check for meaningless values such as '**','N'

In [6]:
df['ELAProf_Score'] = df['ELAProf_Score'].replace('**',9999999)
df['ELAProf_Weight'] = df['ELAProf_Weight'].replace('**',9999999)
df['MathProf_Score'] = df['MathProf_Score'].replace('**',9999999)
df['MathProf_Weight'] = df['MathProf_Weight'].replace('**',9999999)
df['Grad4YR_Score'] = df['Grad4YR_Score'].replace('**',9999999)
df['Grad4YR_Weight'] = df['Grad4YR_Weight'].replace('**',9999999)
df['Grad5YR_Score'] = df['Grad5YR_Score'].replace('**',9999999)
df['Grad5YR_Weight'] = df['Grad5YR_Weight'].replace('**',9999999)
df['ELAGrowth_Score'] = df['ELAGrowth_Score'].replace('**',9999999)
df['ELAGrowth_Weight'] = df['ELAGrowth_Weight'].replace('**',9999999)
df['MathGrowth_Score'] = df['MathGrowth_Score'].replace('**',9999999)
df['MathGrowth_Weight'] = df['MathGrowth_Weight'].replace('**',9999999)
df['ELP_Score'] = df['ELP_Score'].replace('**',9999999)
df['ELP_Weight'] = df['ELP_Weight'].replace('**',9999999)
df['CA_Score'] = df['CA_Score'].replace('**',9999999)
df['CA_Weight'] = df['CA_Weight'].replace('**',9999999)
df['SummativeScore'] = df['SummativeScore'].replace('**',9999999)
df['SummativeRating'] = df['SummativeRating'].replace('**',9999999)
df['CompSupport_Bottom5%'] = df['CompSupport_Bottom5%'].replace('**',9999999)
df['CompSupport_Grad67'] = df['CompSupport_Grad67'].replace('**',9999999)

df['ELAProf_Score'] = df['ELAProf_Score'].replace('N',9999999)
df['ELAProf_Weight'] = df['ELAProf_Weight'].replace('N',9999999)
df['MathProf_Score'] = df['MathProf_Score'].replace('N',9999999)
df['MathProf_Weight'] = df['MathProf_Weight'].replace('N',9999999)
df['Grad4YR_Score'] = df['Grad4YR_Score'].replace('N',9999999)
df['Grad4YR_Weight'] = df['Grad4YR_Weight'].replace('N',9999999)
df['Grad5YR_Score'] = df['Grad5YR_Score'].replace('N',9999999)
df['Grad5YR_Weight'] = df['Grad5YR_Weight'].replace('N',9999999)
df['ELAGrowth_Score'] = df['ELAGrowth_Score'].replace('N',9999999)
df['ELAGrowth_Weight'] = df['ELAGrowth_Weight'].replace('N',9999999)
df['MathGrowth_Score'] = df['MathGrowth_Score'].replace('N',9999999)
df['MathGrowth_Weight'] = df['MathGrowth_Weight'].replace('N',9999999)
df['ELP_Score'] = df['ELP_Score'].replace('N',9999999)
df['ELP_Weight'] = df['ELP_Weight'].replace('N',9999999)
df['CA_Score'] = df['CA_Score'].replace('N',9999999)
df['CA_Weight'] = df['CA_Weight'].replace('N',9999999)
df['SummativeScore'] = df['SummativeScore'].replace('N',9999999)
df['SummativeRating'] = df['SummativeRating'].replace('N',9999999)
df['CompSupport_Bottom5%'] = df['CompSupport_Bottom5%'].replace('N',9999999)
df['CompSupport_Grad67'] = df['CompSupport_Grad67'].replace('N',9999999)

### Check Data types of all columns

In [7]:
df.dtypes

CountyCode                 object
CountyName                 object
DistrictCode               object
DistrictName               object
SchoolCode                 object
SchoolName                 object
ELAProf_Score              object
ELAProf_Weight             object
MathProf_Score             object
MathProf_Weight            object
Grad4YR_Score              object
Grad4YR_Weight             object
Grad5YR_Score              object
Grad5YR_Weight             object
ELAGrowth_Score            object
ELAGrowth_Weight           object
MathGrowth_Score           object
MathGrowth_Weight          object
ELP_Score                  object
ELP_Weight                 object
CA_Score                   object
CA_Weight                  object
SummativeScore             object
SummativeRating            object
CompSupport_Bottom5%       object
CompSupport_Grad67         object
AccountabilityIndicator    object
IndicatorScore             object
IndicatorWeight            object
Year                       object
dtype: object

### Change Data types

In [8]:
#df["SummativeScore"] = df["SummativeScore"].astype(float)
#df["CutOffScoreTargetedSupImp"] = df["CutOffScoreTargetedSupImp"].astype(float)

### Check the changed data types

In [8]:
#df.dtypes

### Get a look at final data

In [9]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,ELAProf_Score,ELAProf_Weight,MathProf_Score,MathProf_Weight,...,CA_Score,CA_Weight,SummativeScore,SummativeRating,CompSupport_Bottom5%,CompSupport_Grad67,AccountabilityIndicator,IndicatorScore,IndicatorWeight,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,44.08,17.5%,22.27,17.5%,...,59.59,15.0%,43.95,38.98,No,No,NA,NA,NA,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,32.64,15.0%,63.03,15.0%,...,42.21,10.0%,55.49,57.88,No,No,NA,NA,NA,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,11.46,15.0%,19.20,15.0%,...,8.33,10.0%,12.33,6.30,No,No,NA,NA,NA,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,030,SOVEREIGN AVENUE SCHOOL,25.18,15.0%,26.24,15.0%,...,54.80,10.0%,47.31,44.91,No,No,NA,NA,NA,2017-18
4,01,ATLANTIC,0110,ATLANTIC CITY,050,CHELSEA HEIGHTS SCHOOL,35.90,15.0%,14.45,15.0%,...,34.11,10.0%,35.53,26.60,No,No,NA,NA,NA,2017-18

In [10]:
#df1.to_csv(df1.csv)
df.to_csv('file_name.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP