In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw1.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,StudentGroup,SummativeScore,CutOffScoreTargetedSupImp,Targeted_LowPerf,ELAProf_MetTarget,MathProf_MetTarget,Grad4YR_MetTarget,Grad5YR_MetTarget,ELAGrowth_MetStandard,MathGrowth_MetStandard,ELP_MetTarget,CA_MetAverage,Targeted_ConsUnderPerf
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Schoolwide,N,N,No,Met Target†,Not Met,N,N,Met Standard,Met Standard,**,Met,No
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,White,43.64,14.08,No,Met Target,Met Target†,N,N,Met Standard,Met Standard,N,Met,No

### Check number of columns and rows

In [2]:
df.shape

(22380, 19)

### Adding columns from 2016-17 table

In [3]:
df['RequiresTargetedSupImp'] = 'NA'
df['ELAProficiency'] = 'NA'
df['MathProficiency'] = 'NA'
df['SGP_ELA'] = 'NA'
df['SGP_Math'] = 'NA'
df['ChronicAbs'] = 'NA'
df['GradRate4'] = 'NA'
df['GradRate5'] = 'NA'
df['AtRisk'] = 'NA'
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,StudentGroup,SummativeScore,CutOffScoreTargetedSupImp,Targeted_LowPerf,...,RequiresTargetedSupImp,ELAProficiency,MathProficiency,SGP_ELA,SGP_Math,ChronicAbs,GradRate4,GradRate5,AtRisk,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Schoolwide,N,N,No,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,White,43.64,14.08,No,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode                   0
CountyName                   0
DistrictCode                 0
DistrictName                 0
SchoolCode                   0
SchoolName                   0
StudentGroup                 0
SummativeScore               0
CutOffScoreTargetedSupImp    0
Targeted_LowPerf             0
ELAProf_MetTarget            0
MathProf_MetTarget           0
Grad4YR_MetTarget            0
Grad5YR_MetTarget            0
ELAGrowth_MetStandard        0
MathGrowth_MetStandard       0
ELP_MetTarget                0
CA_MetAverage                0
Targeted_ConsUnderPerf       0
RequiresTargetedSupImp       0
ELAProficiency               0
MathProficiency              0
SGP_ELA                      0
SGP_Math                     0
ChronicAbs                   0
GradRate4                    0
GradRate5                    0
AtRisk                       0
Year                         0
dtype: int64

### Fill missing values

In [ ]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [6]:
df.isnull().sum()

CountyCode                   0
CountyName                   0
DistrictCode                 0
DistrictName                 0
SchoolCode                   0
SchoolName                   0
StudentGroup                 0
SummativeScore               0
CutOffScoreTargetedSupImp    0
Targeted_LowPerf             0
ELAProf_MetTarget            0
MathProf_MetTarget           0
Grad4YR_MetTarget            0
Grad5YR_MetTarget            0
ELAGrowth_MetStandard        0
MathGrowth_MetStandard       0
ELP_MetTarget                0
CA_MetAverage                0
Targeted_ConsUnderPerf       0
RequiresTargetedSupImp       0
ELAProficiency               0
MathProficiency              0
SGP_ELA                      0
SGP_Math                     0
ChronicAbs                   0
GradRate4                    0
GradRate5                    0
AtRisk                       0
Year                         0
dtype: int64

### Check for meaningless values such as '**','N'

In [7]:
df['SummativeScore'] = df['SummativeScore'].replace('**',9999999)
df['CutOffScoreTargetedSupImp'] = df['CutOffScoreTargetedSupImp'].replace('**',9999999)

df['SummativeScore'] = df['SummativeScore'].replace('N',9999999)
df['CutOffScoreTargetedSupImp'] = df['CutOffScoreTargetedSupImp'].replace('N',9999999)

### Check Data types of all columns

In [8]:
df.dtypes

CountyCode                   object
CountyName                   object
DistrictCode                 object
DistrictName                 object
SchoolCode                   object
SchoolName                   object
StudentGroup                 object
SummativeScore               object
CutOffScoreTargetedSupImp    object
Targeted_LowPerf             object
ELAProf_MetTarget            object
MathProf_MetTarget           object
Grad4YR_MetTarget            object
Grad5YR_MetTarget            object
ELAGrowth_MetStandard        object
MathGrowth_MetStandard       object
ELP_MetTarget                object
CA_MetAverage                object
Targeted_ConsUnderPerf       object
RequiresTargetedSupImp       object
ELAProficiency               object
MathProficiency              object
SGP_ELA                      object
SGP_Math                     object
ChronicAbs                   object
GradRate4                    object
GradRate5                    object
AtRisk                       object
Year                         object
dtype: object

### Change Data types

In [9]:
df["SummativeScore"] = df["SummativeScore"].astype(float)
df["CutOffScoreTargetedSupImp"] = df["CutOffScoreTargetedSupImp"].astype(float)

### Check the changed data types

In [10]:
df.dtypes

CountyCode                    object
CountyName                    object
DistrictCode                  object
DistrictName                  object
SchoolCode                    object
SchoolName                    object
StudentGroup                  object
SummativeScore               float64
CutOffScoreTargetedSupImp    float64
Targeted_LowPerf              object
ELAProf_MetTarget             object
MathProf_MetTarget            object
Grad4YR_MetTarget             object
Grad5YR_MetTarget             object
ELAGrowth_MetStandard         object
MathGrowth_MetStandard        object
ELP_MetTarget                 object
CA_MetAverage                 object
Targeted_ConsUnderPerf        object
RequiresTargetedSupImp        object
ELAProficiency                object
MathProficiency               object
SGP_ELA                       object
SGP_Math                      object
ChronicAbs                    object
GradRate4                     object
GradRate5                     object
AtRisk                        object
Year                          object
dtype: object

### Get a look at final data

In [11]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,StudentGroup,SummativeScore,CutOffScoreTargetedSupImp,Targeted_LowPerf,...,RequiresTargetedSupImp,ELAProficiency,MathProficiency,SGP_ELA,SGP_Math,ChronicAbs,GradRate4,GradRate5,AtRisk,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Schoolwide,9999999.00,9999999.00,No,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,White,43.64,14.08,No,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,2017-18
2,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Hispanic,30.59,14.08,No,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,2017-18
3,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Black or African American,51.79,14.08,No,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,2017-18
4,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,"Asian, Native Hawaiian, or Pacific Islander",9999999.00,9999999.00,No,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,2017-18

In [12]:
#df1.to_csv(df1.csv)
df.to_csv('AccountabilitySummary.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP