In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,AdminCount_District,AdminCount_State,AdminAvgYearsExp_District,AdminAvgYearsExp_State,AdminAvgYearsExpInDistrict_District,AdminAvgYearsExpInDistrict_State,AdminInDistrict4YearsOrMore_District,AdminInDistrict4YearsOrMore_State
0,01,ATLANTIC,0010,ABSECON CITY,5,9374,29.5,16.0,6.8,12.0,50.0,76.2
1,01,ATLANTIC,0110,ATLANTIC CITY,31,9374,17.8,16.0,17.6,12.0,87.1,76.2

### Check number of columns and rows

In [2]:
df.shape

(674, 12)

### Adding columns from 2016-17 table

In [3]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,AdminCount_District,AdminCount_State,AdminAvgYearsExp_District,AdminAvgYearsExp_State,AdminAvgYearsExpInDistrict_District,AdminAvgYearsExpInDistrict_State,AdminInDistrict4YearsOrMore_District,AdminInDistrict4YearsOrMore_State,Year
0,01,ATLANTIC,0010,ABSECON CITY,5,9374,29.5,16.0,6.8,12.0,50.0,76.2,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,31,9374,17.8,16.0,17.6,12.0,87.1,76.2,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode                              0
CountyName                              0
DistrictCode                            0
DistrictName                            0
AdminCount_District                     0
AdminCount_State                        0
AdminAvgYearsExp_District               0
AdminAvgYearsExp_State                  0
AdminAvgYearsExpInDistrict_District     0
AdminAvgYearsExpInDistrict_State        0
AdminInDistrict4YearsOrMore_District    0
AdminInDistrict4YearsOrMore_State       0
Year                                    0
dtype: int64

### Fill missing values

In [ ]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [6]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [6]:

#df['CompSupport_Grad67'] = df['CompSupport_Grad67'].replace('**',9999999)
df['AdminCount_District'] = df['AdminCount_District'].replace('N',9999999)
df['AdminCount_State'] = df['AdminCount_State'].replace('N',9999999)
df['AdminAvgYearsExp_District'] = df['AdminAvgYearsExp_District'].replace('N',9999999)
df['AdminAvgYearsExp_State'] = df['AdminAvgYearsExp_State'].replace('N',9999999)
df['AdminAvgYearsExpInDistrict_District'] = df['AdminAvgYearsExpInDistrict_District'].replace('N',9999999)
df['AdminAvgYearsExpInDistrict_State'] = df['AdminAvgYearsExpInDistrict_State'].replace('N',9999999)
df['AdminInDistrict4YearsOrMore_District'] = df['AdminInDistrict4YearsOrMore_District'].replace('N',9999999)
df['AdminInDistrict4YearsOrMore_State'] = df['AdminInDistrict4YearsOrMore_State'].replace('N',9999999)

### Check Data types of all columns

In [7]:
df.dtypes

CountyCode                               object
CountyName                               object
DistrictCode                             object
DistrictName                             object
AdminCount_District                      object
AdminCount_State                          int64
AdminAvgYearsExp_District                object
AdminAvgYearsExp_State                  float64
AdminAvgYearsExpInDistrict_District      object
AdminAvgYearsExpInDistrict_State        float64
AdminInDistrict4YearsOrMore_District     object
AdminInDistrict4YearsOrMore_State       float64
Year                                     object
dtype: object

### Change Data types

In [9]:
df["AdminCount_District"] = df["AdminCount_District"].astype(float)
df["AdminCount_State"] = df["AdminCount_State"].astype(float)
df["AdminAvgYearsExp_District"] = df["AdminAvgYearsExp_District"].astype(float)
df["AdminAvgYearsExp_State"] = df["AdminAvgYearsExp_State"].astype(float)
df["AdminAvgYearsExpInDistrict_District"] = df["AdminAvgYearsExpInDistrict_District"].astype(float)
df["AdminAvgYearsExpInDistrict_State"] = df["AdminAvgYearsExpInDistrict_State"].astype(float)
df["AdminInDistrict4YearsOrMore_District"] = df["AdminInDistrict4YearsOrMore_District"].astype(float)
df["AdminInDistrict4YearsOrMore_State"] = df["AdminInDistrict4YearsOrMore_State"].astype(float)

### Check the changed data types

In [10]:
df.dtypes

CountyCode                               object
CountyName                               object
DistrictCode                             object
DistrictName                             object
AdminCount_District                     float64
AdminCount_State                        float64
AdminAvgYearsExp_District               float64
AdminAvgYearsExp_State                  float64
AdminAvgYearsExpInDistrict_District     float64
AdminAvgYearsExpInDistrict_State        float64
AdminInDistrict4YearsOrMore_District    float64
AdminInDistrict4YearsOrMore_State       float64
Year                                     object
dtype: object

### Get a look at final data

In [11]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,AdminCount_District,AdminCount_State,AdminAvgYearsExp_District,AdminAvgYearsExp_State,AdminAvgYearsExpInDistrict_District,AdminAvgYearsExpInDistrict_State,AdminInDistrict4YearsOrMore_District,AdminInDistrict4YearsOrMore_State,Year
0,01,ATLANTIC,0010,ABSECON CITY,5.0,9374.0,29.5,16.0,6.8,12.0,50.0,76.2,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,31.0,9374.0,17.8,16.0,17.6,12.0,87.1,76.2,2017-18
2,01,ATLANTIC,0120,ATLANTIC CO VOCATIONAL,9.0,9374.0,7.2,16.0,6.1,12.0,44.4,76.2,2017-18
3,01,ATLANTIC,0125,ATLANTIC CO SPECIAL SERV,7.0,9374.0,13.3,16.0,4.9,12.0,42.9,76.2,2017-18
4,01,ATLANTIC,0570,BRIGANTINE CITY,6.0,9374.0,16.0,16.0,13.8,12.0,83.3,76.2,2017-18

In [12]:
#df1.to_csv(df1.csv)
df.to_csv('AdministratorsExperience.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP