In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,ComprehensiveTargeted,StudentGroup,Requring Support,Eligible to exit Status in January 2021,Eligible to exit Status in January 2022
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Comprehensive,Schoolwide,No,NaN,NaN
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Targeted,Schoolwide,Yes,Yes,No

### Check number of columns and rows

In [2]:
df.shape

(24618, 11)

### Adding columns from 2016-17 table

In [3]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,ComprehensiveTargeted,StudentGroup,Requring Support,Eligible to exit Status in January 2021,Eligible to exit Status in January 2022,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Comprehensive,Schoolwide,No,NaN,NaN,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Targeted,Schoolwide,Yes,Yes,No,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode                                    0
CountyName                                    0
DistrictCode                                  0
DistrictName                                  0
SchoolCode                                    0
SchoolName                                    0
ComprehensiveTargeted                         0
StudentGroup                                  0
Requring Support                              0
Eligible to exit Status in January 2021    4098
Eligible to exit Status in January 2022    4098
Year                                          0
dtype: int64

### Fill missing values

In [6]:
df = df.fillna('NA')

### Check again if missing values are dealt properly

In [7]:
df.isnull().sum()

CountyCode                                 0
CountyName                                 0
DistrictCode                               0
DistrictName                               0
SchoolCode                                 0
SchoolName                                 0
ComprehensiveTargeted                      0
StudentGroup                               0
Requring Support                           0
Eligible to exit Status in January 2021    0
Eligible to exit Status in January 2022    0
Year                                       0
dtype: int64

### Check for meaningless values such as '**','N'

In [9]:

#df['CompSupport_Grad67'] = df['CompSupport_Grad67'].replace('**',9999999)

df['Eligible to exit Status in January 2021'] = df['Eligible to exit Status in January 2021'].replace('N','NA')
df['Eligible to exit Status in January 2022'] = df['Eligible to exit Status in January 2022'].replace('N','NA')

### Check Data types of all columns

In [10]:
df.dtypes

CountyCode                                 object
CountyName                                 object
DistrictCode                               object
DistrictName                               object
SchoolCode                                 object
SchoolName                                 object
ComprehensiveTargeted                      object
StudentGroup                               object
Requring Support                           object
Eligible to exit Status in January 2021    object
Eligible to exit Status in January 2022    object
Year                                       object
dtype: object

### Change Data types

In [12]:
#df["PercentDaysPresent"] = df["PercentDaysPresent"].astype(float)
#df["CutOffScoreTargetedSupImp"] = df["CutOffScoreTargetedSupImp"].astype(float)

### Check the changed data types

In [12]:
#df.dtypes

### Get a look at final data

In [13]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,ComprehensiveTargeted,StudentGroup,Requring Support,Eligible to exit Status in January 2021,Eligible to exit Status in January 2022,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Comprehensive,Schoolwide,No,NA,NA,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Targeted,Schoolwide,Yes,Yes,No,2017-18
2,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Targeted,White,No,NA,NA,2017-18
3,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Targeted,Hispanic,No,NA,NA,2017-18
4,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Targeted,Black or African American,No,NA,NA,2017-18

In [14]:
#df1.to_csv(df1.csv)
df.to_csv('CompTargeted.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP