In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,InSchool_Count,InSchool_Pct,OutofSchool_Count,OutofSchool_Pct,AnySusp_Count,AnySusp_Pct,Removal_Count,Removal_Pct,Expulsion_Count,Expulsion_Pct,Arrest_Count,Arrest_Pct,SchoolDaysMissed_OSS
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,11,2.9,10,2.7,19,5.1,0,0.0,0,0.0,0,0.0,12
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,*,*,11,2.2,12,2.4,0,0.0,0,0.0,0,0.0,18

### Check number of columns and rows

In [2]:
df.shape

(2519, 19)

### Adding columns from 2016-17 table

In [3]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,InSchool_Count,InSchool_Pct,OutofSchool_Count,OutofSchool_Pct,AnySusp_Count,AnySusp_Pct,Removal_Count,Removal_Pct,Expulsion_Count,Expulsion_Pct,Arrest_Count,Arrest_Pct,SchoolDaysMissed_OSS,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,11,2.9,10,2.7,19,5.1,0,0.0,0,0.0,0,0.0,12,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,*,*,11,2.2,12,2.4,0,0.0,0,0.0,0,0.0,18,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode              0
CountyName              0
DistrictCode            0
DistrictName            0
SchoolCode              0
SchoolName              0
InSchool_Count          0
InSchool_Pct            0
OutofSchool_Count       0
OutofSchool_Pct         0
AnySusp_Count           0
AnySusp_Pct             0
Removal_Count           0
Removal_Pct             0
Expulsion_Count         0
Expulsion_Pct           0
Arrest_Count            0
Arrest_Pct              0
SchoolDaysMissed_OSS    0
Year                    0
dtype: int64

### Fill missing values

In [ ]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [ ]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [8]:

df['SchoolDaysMissed_OSS'] = df['SchoolDaysMissed_OSS'].replace('*',9999999)
df['InSchool_Count'] = df['InSchool_Count'].replace('*',9999999)
df['InSchool_Pct'] = df['InSchool_Pct'].replace('*',9999999)
df['OutofSchool_Count'] = df['OutofSchool_Count'].replace('*',9999999)
df['OutofSchool_Pct'] = df['OutofSchool_Pct'].replace('*',9999999)
df['AnySusp_Count'] = df['AnySusp_Count'].replace('*',9999999)
df['AnySusp_Pct'] = df['AnySusp_Pct'].replace('*',9999999)
df['Removal_Count'] = df['Removal_Count'].replace('*',9999999)
df['Removal_Pct'] = df['Removal_Pct'].replace('*',9999999)
df['Expulsion_Count'] = df['Expulsion_Count'].replace('*',9999999)
df['Expulsion_Pct'] = df['Expulsion_Pct'].replace('*',9999999)
df['Arrest_Count'] = df['Arrest_Count'].replace('*',9999999)
df['Arrest_Pct'] = df['Arrest_Pct'].replace('*',9999999)


df['SchoolDaysMissed_OSS'] = df['SchoolDaysMissed_OSS'].replace('N',9999999)
df['InSchool_Count'] = df['InSchool_Count'].replace('N',9999999)
df['InSchool_Pct'] = df['InSchool_Pct'].replace('N',9999999)
df['OutofSchool_Count'] = df['OutofSchool_Count'].replace('N',9999999)
df['OutofSchool_Pct'] = df['OutofSchool_Pct'].replace('N',9999999)
df['AnySusp_Count'] = df['AnySusp_Count'].replace('N',9999999)
df['AnySusp_Pct'] = df['AnySusp_Pct'].replace('N',9999999)
df['Removal_Count'] = df['Removal_Count'].replace('N',9999999)
df['Removal_Pct'] = df['Removal_Pct'].replace('N',9999999)
df['Expulsion_Count'] = df['Expulsion_Count'].replace('N',9999999)
df['Expulsion_Pct'] = df['Expulsion_Pct'].replace('N',9999999)
df['Arrest_Count'] = df['Arrest_Count'].replace('N',9999999)
df['Arrest_Pct'] = df['Arrest_Pct'].replace('N',9999999)

### Check Data types of all columns

In [9]:
df.dtypes

CountyCode              object
CountyName              object
DistrictCode            object
DistrictName            object
SchoolCode              object
SchoolName              object
InSchool_Count          object
InSchool_Pct            object
OutofSchool_Count       object
OutofSchool_Pct         object
AnySusp_Count           object
AnySusp_Pct             object
Removal_Count           object
Removal_Pct             object
Expulsion_Count         object
Expulsion_Pct           object
Arrest_Count            object
Arrest_Pct              object
SchoolDaysMissed_OSS    object
Year                    object
dtype: object

### Change Data types

In [12]:
df["InSchool_Pct"] = df["InSchool_Pct"].astype(float)
df["OutofSchool_Pct"] = df["OutofSchool_Pct"].astype(float)
df["AnySusp_Pct"] = df["AnySusp_Pct"].astype(float)
df["Removal_Pct"] = df["Removal_Pct"].astype(float)
df["Expulsion_Pct"] = df["Expulsion_Pct"].astype(float)
df["Arrest_Pct"] = df["Arrest_Pct"].astype(float)

df["SchoolDaysMissed_OSS"] = df["SchoolDaysMissed_OSS"].astype(int)
df["InSchool_Count"] = df["InSchool_Count"].astype(int)
df["OutofSchool_Count"] = df["OutofSchool_Count"].astype(int)
df["AnySusp_Count"] = df["AnySusp_Count"].astype(int)
df["Removal_Count"] = df["Removal_Count"].astype(int)
df["Expulsion_Count"] = df["Expulsion_Count"].astype(int)
df["Arrest_Count"] = df["Arrest_Count"].astype(int)

### Check the changed data types

In [13]:
df.dtypes

CountyCode               object
CountyName               object
DistrictCode             object
DistrictName             object
SchoolCode               object
SchoolName               object
InSchool_Count            int64
InSchool_Pct            float64
OutofSchool_Count         int64
OutofSchool_Pct         float64
AnySusp_Count             int64
AnySusp_Pct             float64
Removal_Count             int64
Removal_Pct             float64
Expulsion_Count           int64
Expulsion_Pct           float64
Arrest_Count              int64
Arrest_Pct              float64
SchoolDaysMissed_OSS      int64
Year                     object
dtype: object

### Get a look at final data

In [14]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,InSchool_Count,InSchool_Pct,OutofSchool_Count,OutofSchool_Pct,AnySusp_Count,AnySusp_Pct,Removal_Count,Removal_Pct,Expulsion_Count,Expulsion_Pct,Arrest_Count,Arrest_Pct,SchoolDaysMissed_OSS,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,11,2.9,10,2.7,19,5.1,0,0.0,0,0.0,0,0.0,12,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,9999999,9999999.0,11,2.2,12,2.4,0,0.0,0,0.0,0,0.0,18,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,177,9.7,195,10.6,196,10.7,9999999,9999999.0,0,0.0,9999999,9999999.0,2124,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,030,SOVEREIGN AVENUE SCHOOL,0,0.0,22,3.0,22,3.0,0,0.0,0,0.0,0,0.0,39,2017-18
4,01,ATLANTIC,0110,ATLANTIC CITY,050,CHELSEA HEIGHTS SCHOOL,0,0.0,9999999,9999999.0,9999999,9999999.0,0,0.0,0,0.0,0,0.0,9999999,2017-18

In [15]:
#df1.to_csv(df1.csv)
df.to_csv('DisciplinaryRemovals.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP