In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(10)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,PercentDaysPresent
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,95.7
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,97.6
2,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,96.7
3,01,ATLANTIC,0110,ATLANTIC CITY,030,SOVEREIGN AVENUE SCHOOL,96.7
4,01,ATLANTIC,0110,ATLANTIC CITY,050,CHELSEA HEIGHTS SCHOOL,96.0
5,01,ATLANTIC,0110,ATLANTIC CITY,060,TEXAS AVENUE SCHOOL,96.6
6,01,ATLANTIC,0110,ATLANTIC CITY,070,NEW YORK AVENUE SCHOOL,95.6
7,01,ATLANTIC,0110,ATLANTIC CITY,080,UPTOWN SCHOOL COMPLEX,96.1
8,01,ATLANTIC,0110,ATLANTIC CITY,100,PENNSYLVANIA AVE SCHOOL,97.1
9,01,ATLANTIC,0110,ATLANTIC CITY,120,RICHMOND AVENUE SCHOOL,96.9

### Check number of columns and rows

In [2]:
df.shape

(2519, 7)

### Adding columns from 2016-17 table

In [3]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,PercentDaysPresent,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,95.7,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,97.6,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode            0
CountyName            0
DistrictCode          0
DistrictName          0
SchoolCode            0
SchoolName            0
PercentDaysPresent    0
Year                  0
dtype: int64

### Fill missing values

In [ ]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [6]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [10]:

#df['CompSupport_Grad67'] = df['CompSupport_Grad67'].replace('**',9999999)

df['PercentDaysPresent'] = df['PercentDaysPresent'].replace('N',9999999)

### Check Data types of all columns

In [11]:
df.dtypes

CountyCode            object
CountyName            object
DistrictCode          object
DistrictName          object
SchoolCode            object
SchoolName            object
PercentDaysPresent    object
Year                  object
dtype: object

### Change Data types

In [12]:
df["PercentDaysPresent"] = df["PercentDaysPresent"].astype(float)
#df["CutOffScoreTargetedSupImp"] = df["CutOffScoreTargetedSupImp"].astype(float)

### Check the changed data types

In [13]:
df.dtypes

CountyCode             object
CountyName             object
DistrictCode           object
DistrictName           object
SchoolCode             object
SchoolName             object
PercentDaysPresent    float64
Year                   object
dtype: object

### Get a look at final data

In [14]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,PercentDaysPresent,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,95.7,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,97.6,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,96.7,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,030,SOVEREIGN AVENUE SCHOOL,96.7,2017-18
4,01,ATLANTIC,0110,ATLANTIC CITY,050,CHELSEA HEIGHTS SCHOOL,96.0,2017-18

In [15]:
#df1.to_csv(df1.csv)
df.to_csv('FacultyAttendance.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP