In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,HIBNature,HIBAlleged,HIBConfirmed,TotalHIBInvestigations
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Ancestry,0,0,0
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Disability,0,0,0

### Check number of columns and rows

In [2]:
df.shape

(20152, 10)

### Adding columns from 2016-17 table

In [3]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,HIBNature,HIBAlleged,HIBConfirmed,TotalHIBInvestigations,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Ancestry,0,0,0,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Disability,0,0,0,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode                0
CountyName                0
DistrictCode              0
DistrictName              0
SchoolCode                0
SchoolName                0
HIBNature                 0
HIBAlleged                0
HIBConfirmed              0
TotalHIBInvestigations    0
Year                      0
dtype: int64

### Fill missing values

In [6]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [6]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [8]:

df['HIBConfirmed'] = df['HIBConfirmed'].replace('N',9999999)
df['HIBAlleged'] = df['HIBAlleged'].replace('N',9999999)
df['TotalHIBInvestigations'] = df['TotalHIBInvestigations'].replace('N',9999999)

### Check Data types of all columns

In [9]:
df.dtypes

CountyCode                object
CountyName                object
DistrictCode              object
DistrictName              object
SchoolCode                object
SchoolName                object
HIBNature                 object
HIBAlleged                object
HIBConfirmed              object
TotalHIBInvestigations    object
Year                      object
dtype: object

### Change Data types

In [10]:
df["HIBConfirmed"] = df["HIBConfirmed"].astype(int)
df["HIBAlleged"] = df["HIBAlleged"].astype(int)
df["TotalHIBInvestigations"] = df["TotalHIBInvestigations"].astype(int)

### Check the changed data types

In [11]:
df.dtypes

CountyCode                object
CountyName                object
DistrictCode              object
DistrictName              object
SchoolCode                object
SchoolName                object
HIBNature                 object
HIBAlleged                 int64
HIBConfirmed               int64
TotalHIBInvestigations     int64
Year                      object
dtype: object

### Get a look at final data

In [12]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,HIBNature,HIBAlleged,HIBConfirmed,TotalHIBInvestigations,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Ancestry,0,0,0,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Disability,0,0,0,2017-18
2,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Gender,0,0,0,2017-18
3,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,No Identified Nature,3,0,3,2017-18
4,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Other,0,1,1,2017-18

In [13]:
#df1.to_csv(df1.csv)
df.to_csv('HIBInvestigations.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP