In [2]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

  CountyCode CountyName DistrictCode   DistrictName Federal StateLocal  Total
0         01   ATLANTIC         0010   ABSECON CITY    1110      12199  13309
1         01   ATLANTIC         0110  ATLANTIC CITY    1412      16669  18081

### Check number of columns and rows

In [3]:
df.shape

(674, 7)

### Adding columns from 2016-17 table

In [4]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [5]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,Federal,StateLocal,Total,Year
0,01,ATLANTIC,0010,ABSECON CITY,1110,12199,13309,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,1412,16669,18081,2017-18

### Check missing values

In [6]:
df.isnull().sum()

CountyCode      0
CountyName      0
DistrictCode    0
DistrictName    0
Federal         0
StateLocal      0
Total           0
Year            0
dtype: int64

### Fill missing values

In [7]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [8]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [9]:
df['Federal'] = df['Federal'].replace('**','9999999')
df['StateLocal'] = df['StateLocal'].replace('**','9999999')
df['Total'] = df['Total'].replace('**','9999999')

df['Federal'] = df['Federal'].replace('N','9999999')
df['StateLocal'] = df['StateLocal'].replace('N','9999999')
df['Total'] = df['Total'].replace('N','9999999')

### Check Data types of all columns

In [10]:
df.dtypes

CountyCode      object
CountyName      object
DistrictCode    object
DistrictName    object
Federal         object
StateLocal      object
Total           object
Year            object
dtype: object

### Change Data types

In [11]:
df["Federal"] = df["Federal"].astype(int)
df["StateLocal"] = df["StateLocal"].astype(int)
df["Total"] = df["Total"].astype(int)

### Check the changed data types

In [12]:
df.dtypes

CountyCode      object
CountyName      object
DistrictCode    object
DistrictName    object
Federal          int64
StateLocal       int64
Total            int64
Year            object
dtype: object

### Get a look at final data

In [13]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,Federal,StateLocal,Total,Year
0,01,ATLANTIC,0010,ABSECON CITY,1110,12199,13309,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,1412,16669,18081,2017-18
2,01,ATLANTIC,0120,ATLANTIC CO VOCATIONAL,592,12491,13083,2017-18
3,01,ATLANTIC,0125,ATLANTIC CO SPECIAL SERV,9999999,9999999,9999999,2017-18
4,01,ATLANTIC,0570,BRIGANTINE CITY,878,21951,22829,2017-18

In [14]:
#df1.to_csv(df1.csv)
df.to_csv('PerPupilExpenditures.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP