In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,TypicalStartTime,TypicalEndTime,LengthOfDay,InstructionFullTime,InstructionSharedTime
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,8:10AM,2:30PM,6 Hrs 20 Mins,6 Hrs. 20 Mins.,3 Hrs. 10 Mins.
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,8:10AM,2:30PM,6 Hrs 20 Mins,6 Hrs. 20 Mins.,3 Hrs. 10 Mins.

### Check number of columns and rows

In [2]:
df.shape

(2519, 11)

### Adding columns from 2016-17 table

In [3]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,TypicalStartTime,TypicalEndTime,LengthOfDay,InstructionFullTime,InstructionSharedTime,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,8:10AM,2:30PM,6 Hrs 20 Mins,6 Hrs. 20 Mins.,3 Hrs. 10 Mins.,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,8:10AM,2:30PM,6 Hrs 20 Mins,6 Hrs. 20 Mins.,3 Hrs. 10 Mins.,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode               0
CountyName               0
DistrictCode             0
DistrictName             0
SchoolCode               0
SchoolName               0
TypicalStartTime         0
TypicalEndTime           0
LengthOfDay              0
InstructionFullTime      0
InstructionSharedTime    0
Year                     0
dtype: int64

### Fill missing values

In [6]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [8]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [9]:
df['InstructionSharedTime'] = df['InstructionSharedTime'].replace('**','NA')
df['InstructionFullTime'] = df['InstructionFullTime'].replace('**','NA')
df['LengthOfDay'] = df['LengthOfDay'].replace('**','NA')
df['TypicalEndTime'] = df['TypicalEndTime'].replace('**','NA')
df['TypicalStartTime'] = df['TypicalStartTime'].replace('**','NA')


df['InstructionSharedTime'] = df['InstructionSharedTime'].replace('N','NA')
df['InstructionFullTime'] = df['InstructionFullTime'].replace('N','NA')
df['LengthOfDay'] = df['LengthOfDay'].replace('N','NA')
df['TypicalEndTime'] = df['TypicalEndTime'].replace('N','NA')
df['TypicalStartTime'] = df['TypicalStartTime'].replace('N','NA')

### Check Data types of all columns

In [10]:
df.dtypes

CountyCode               object
CountyName               object
DistrictCode             object
DistrictName             object
SchoolCode               object
SchoolName               object
TypicalStartTime         object
TypicalEndTime           object
LengthOfDay              object
InstructionFullTime      object
InstructionSharedTime    object
Year                     object
dtype: object

### Change Data types

In [10]:
#df["HIBConfirmed"] = df["HIBConfirmed"].astype(int)

### Check the changed data types

In [11]:
#df.dtypes

### Get a look at final data

In [12]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,TypicalStartTime,TypicalEndTime,LengthOfDay,InstructionFullTime,InstructionSharedTime,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,8:10AM,2:30PM,6 Hrs 20 Mins,6 Hrs. 20 Mins.,3 Hrs. 10 Mins.,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,8:10AM,2:30PM,6 Hrs 20 Mins,6 Hrs. 20 Mins.,3 Hrs. 10 Mins.,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,7:45AM,2:10PM,6 Hrs 25 Mins,5 Hrs. 40 Mins.,NA,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,030,SOVEREIGN AVENUE SCHOOL,8:15AM,2:45PM,6 Hrs 30 Mins,5 Hrs. 55 Mins.,NA,2017-18
4,01,ATLANTIC,0110,ATLANTIC CITY,050,CHELSEA HEIGHTS SCHOOL,8:15AM,2:45PM,6 Hrs 30 Mins,5 Hrs. 55 Mins.,NA,2017-18

In [13]:
#df1.to_csv(df1.csv)
df.to_csv('SchoolDay.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP