In [2]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,Teachers/Admins,Female,Male,White,Hispanic,Black or African American,Asian,American Indian or Alaska Native,Native Hawaiian or Pacific Islander,Two or More Races
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Admins,50.0,50.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Teachers,75.9,24.1,89.7,6.9,0.0,0.0,0.0,0.0,3.4

### Check number of columns and rows

In [3]:
df.shape

(5038, 16)

### Adding columns from 2016-17 table

In [4]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [5]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,Teachers/Admins,Female,Male,White,Hispanic,Black or African American,Asian,American Indian or Alaska Native,Native Hawaiian or Pacific Islander,Two or More Races,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Admins,50.0,50.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Teachers,75.9,24.1,89.7,6.9,0.0,0.0,0.0,0.0,3.4,2017-18

### Check missing values

In [6]:
df.isnull().sum()

CountyCode                             0
CountyName                             0
DistrictCode                           0
DistrictName                           0
SchoolCode                             0
SchoolName                             0
Teachers/Admins                        0
Female                                 0
Male                                   0
White                                  0
Hispanic                               0
Black or African American              0
Asian                                  0
American Indian or Alaska Native       0
Native Hawaiian or Pacific Islander    0
Two or More Races                      0
Year                                   0
dtype: int64

### Fill missing values

In [6]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [7]:
#df.isnull().sum()

CountyCode                                 0
CountyName                                 0
DistrictCode                               0
DistrictName                               0
SchoolCode                                 0
SchoolName                                 0
ComprehensiveTargeted                      0
StudentGroup                               0
Requring Support                           0
Eligible to exit Status in January 2021    0
Eligible to exit Status in January 2022    0
Year                                       0
dtype: int64

### Check for meaningless values such as '**','N'

In [17]:
df['Female'] = df['Female'].replace('NA',9999999)
df['Male'] = df['Male'].replace('NA',9999999)
df['White'] = df['White'].replace('NA',9999999)
df['Hispanic'] = df['Hispanic'].replace('NA',9999999)
df['Black or African American'] = df['Black or African American'].replace('NA',9999999)
df['Asian'] = df['Asian'].replace('NA',9999999)
df['American Indian or Alaska Native'] = df['American Indian or Alaska Native'].replace('NA',9999999)
df['Native Hawaiian or Pacific Islander'] = df['Native Hawaiian or Pacific Islander'].replace('NA',9999999)
df['Two or More Races'] = df['Two or More Races'].replace('NA',9999999)

#df['CompSupport_Grad67'] = df['CompSupport_Grad67'].replace('**',9999999)

df['Female'] = df['Female'].replace('N',9999999)
df['Male'] = df['Male'].replace('N',9999999)
df['White'] = df['White'].replace('N',9999999)
df['Hispanic'] = df['Hispanic'].replace('N',9999999)
df['Black or African American'] = df['Black or African American'].replace('N',9999999)
df['Asian'] = df['Asian'].replace('N',9999999)
df['American Indian or Alaska Native'] = df['American Indian or Alaska Native'].replace('N',9999999)
df['Native Hawaiian or Pacific Islander'] = df['Native Hawaiian or Pacific Islander'].replace('N',9999999)
df['Two or More Races'] = df['Two or More Races'].replace('N',9999999)

### Check Data types of all columns

In [11]:
df.dtypes

CountyCode                             object
CountyName                             object
DistrictCode                           object
DistrictName                           object
SchoolCode                             object
SchoolName                             object
Teachers/Admins                        object
Female                                 object
Male                                   object
White                                  object
Hispanic                               object
Black or African American              object
Asian                                  object
American Indian or Alaska Native       object
Native Hawaiian or Pacific Islander    object
Two or More Races                      object
Year                                   object
dtype: object

### Change Data types

In [18]:
df["Female"] = df["Female"].astype(float)
df["Male"] = df["Male"].astype(float)
df["White"] = df["White"].astype(float)
df["Hispanic"] = df["Hispanic"].astype(float)
df["Black or African American"] = df["Black or African American"].astype(float)
df["Asian"] = df["Asian"].astype(float)
df["American Indian or Alaska Native"] = df["American Indian or Alaska Native"].astype(float)
df["Native Hawaiian or Pacific Islander"] = df["Native Hawaiian or Pacific Islander"].astype(float)
df["Two or More Races"] = df["Two or More Races"].astype(float)

### Check the changed data types

In [19]:
df.dtypes

CountyCode                              object
CountyName                              object
DistrictCode                            object
DistrictName                            object
SchoolCode                              object
SchoolName                              object
Teachers/Admins                         object
Female                                 float64
Male                                   float64
White                                  float64
Hispanic                               float64
Black or African American              float64
Asian                                  float64
American Indian or Alaska Native       float64
Native Hawaiian or Pacific Islander    float64
Two or More Races                      float64
Year                                    object
dtype: object

### Get a look at final data

In [20]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,Teachers/Admins,Female,Male,White,Hispanic,Black or African American,Asian,American Indian or Alaska Native,Native Hawaiian or Pacific Islander,Two or More Races,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Admins,50.0,50.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,Teachers,75.9,24.1,89.7,6.9,0.0,0.0,0.0,0.0,3.4,2017-18
2,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,Admins,0.0,100.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-18
3,01,ATLANTIC,0010,ABSECON CITY,060,H ASHTON MARSH,Teachers,91.4,8.6,100.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-18
4,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,Admins,50.0,50.0,50.0,16.7,33.3,0.0,0.0,0.0,0.0,2017-18

In [21]:
#df1.to_csv(df1.csv)
df.to_csv('TeachersAdminsDemographics.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP