In [2]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,Teachers/Admins,RetentionPct_District,RetentionPct_State
0,01,ATLANTIC,0010,ABSECON CITY,Administrators,75.0,86.2
1,01,ATLANTIC,0010,ABSECON CITY,Teachers,88.0,90.2

### Check number of columns and rows

In [3]:
df.shape

(1348, 7)

### Adding columns from 2016-17 table

In [4]:
df['Year'] = '2017-18'

### Check if columns are added properly

In [5]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,Teachers/Admins,RetentionPct_District,RetentionPct_State,Year
0,01,ATLANTIC,0010,ABSECON CITY,Administrators,75.0,86.2,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,Teachers,88.0,90.2,2017-18

### Check missing values

In [6]:
df.isnull().sum()

CountyCode               0
CountyName               0
DistrictCode             0
DistrictName             0
Teachers/Admins          0
RetentionPct_District    0
RetentionPct_State       0
Year                     0
dtype: int64

### Fill missing values

In [ ]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [6]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [9]:

#df['CompSupport_Grad67'] = df['CompSupport_Grad67'].replace('**',9999999)

df['RetentionPct_District'] = df['RetentionPct_District'].replace('N',9999999)
df['RetentionPct_State'] = df['RetentionPct_State'].replace('N',9999999)

### Check Data types of all columns

In [10]:
df.dtypes

CountyCode                object
CountyName                object
DistrictCode              object
DistrictName              object
Teachers/Admins           object
RetentionPct_District     object
RetentionPct_State       float64
Year                      object
dtype: object

### Change Data types

In [11]:
df["RetentionPct_District"] = df["RetentionPct_District"].astype(float)
df["RetentionPct_State"] = df["RetentionPct_State"].astype(float)

### Check the changed data types

In [12]:
df.dtypes

CountyCode                object
CountyName                object
DistrictCode              object
DistrictName              object
Teachers/Admins           object
RetentionPct_District    float64
RetentionPct_State       float64
Year                      object
dtype: object

### Get a look at final data

In [13]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,Teachers/Admins,RetentionPct_District,RetentionPct_State,Year
0,01,ATLANTIC,0010,ABSECON CITY,Administrators,75.0,86.2,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,Teachers,88.0,90.2,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,Administrators,82.4,86.2,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,Teachers,93.5,90.2,2017-18
4,01,ATLANTIC,0120,ATLANTIC CO VOCATIONAL,Administrators,77.8,86.2,2017-18

In [14]:
#df1.to_csv(df1.csv)
df.to_csv('TeachersAdminsOneYearRetention.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP